@(message: String)

@main("Welcome to Hireable") {

<div class="container-fluid">
    <div class="row centered500">
        <form id="step1form">
            <div class="form-group">
                HERE LIVES BREADCRUMBS
            </div>
            <h1>Contractor application form</h1>
            <div class="form-group">
                <label for="name">Trading name</label>
                <input type="text" id="name" name="name" class="form-control" >
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" >
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text" id="phone" name="phone" class="form-control" >
            </div>
            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" id="website" name="website" class="form-control" >
            </div>
            <div class="form-group">
                <label for="postcode">Postcode</label>
                <input type="text" id="postcode" name="postcode" class="form-control" >
            </div>
            <button type="submit" class="btn btn-default" id="step1Next">Next -></button>
        </form>
    </div>
</div>

}
